    </main>
    <footer class="footer">
      <div class="container">
        <p>&copy; Odomac - Ça donne faim tout ça non ?</p>
      </div>
    </footer>
    <script src="/js/script.js"></script>
  </body>
</html>