<%- include('partials/header') %>

<form action="/signup" method="POST">
  <% if(locals.error) { %>
    <div class="form_error">
        <%= error %>
    </div>
  <% } %>

  <div class="form_field">
    <small id="emailHelp">Nous ne partagerons jamais votre courriel.</small>
    <input class="form_field_input" class="input__form" type="email" id="email" name="email" aria-describedby="emailHelp"
      placeholder="Votre courriel">
  </div>

  <div class="form_field">
    <input class="form_field_input" class="input__form" type="password" id="password" name="password" placeholder="Votre mot de mot de passe">
  </div>


  <div class="form_field">
    <input class="form_field_input" class="input__form" type="password" id="passwordConfirm" name="passwordConfirm"
      placeholder="Confirmez votre mot de passe">
  </div>

  <div>
    <button class="submit__btn" type="submit">Envoyer</button>
  </div>
</form>

<%- include('partials/footer') %>